@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  overflow: hidden;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
input:-webkit-autofill {
  box-shadow: 0 0 0px 1000px white inset !important;
  -webkit-box-shadow: 0 0 0px 1000px white inset !important;
  -webkit-text-fill-color: black !important; /* Change the text color if needed */
}

/* Remove background color on selection */
input::selection {
  background: transparent; /* Or set your custom color */
}
.custom-card .ant-card-body {
  padding: 16px;
  /* Or use your Tailwind configured color */
  border-radius: 8px;
}

.ant-tabs-tab-active .ant-tabs-tab-btn {
  @apply text-primary-light !important;
}

.ant-tabs-ink-bar {
  @apply bg-primary !important;
}

.ant-tabs-tab:hover .ant-tabs-tab-btn {
  @apply text-primary-light;
  /* Customize hover color */
}
.ant-btn-primary {
  @apply bg-primary px-4 py-4 rounded-[100px] hover:!bg-primary-dark;
}

.ant-btn-variant-outlined {
  @apply border-primary text-primary-light py-2 px-4 rounded-[100px] hover:!text-primary-light hover:!border-primary-light;
}
